<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Statements</title>
</head>
<body>
<h2>Financial Statements for ${stockName}</h2>
<table>
    <thead>
        <tr>
            <th>stockId</th>
            <th>Content</th>
            <th>Year</th>
            <th>Quarter</th>

        </tr>
    </thead>
    <tbody>
        <tr th:each="fs : ${financialStatements}">
            <td th:text="${fs.stockId}"></td>
            <td th:text="${fs.content}"></td>
            <td th:text="${fs.year}"></td>
            <td th:text="${fs.quarter}"></td>

        </tr>
    </tbody>
</table>
</body>
</html>
