<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Stock Form</title>
</head>
<body>
<h2>Save Stock Form</h2>
<form action="save-stock-form" method="post">
    <label for="stockId">Stock Id:</label><br>
    <input type="text" id="stockId" name="stockId"><br>
    <label for="stockName">Stock Name:</label><br>
    <input type="text" id="stockName" name="stockName"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="theme">Theme:</label><br>
    <input type="text" id="theme" name="theme"><br>
    <label for="stockPriceIndex">Stock Price Index:</label><br>
    <input type="text" id="stockPriceIndex" name="stockPriceIndex"><br>
    <label for="status">Status:</label><br>
    <input type="text" id="status" name="status"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
